/* .section {
  margin-left: 200px;
  margin-right: 200px;
} */


.card {
  min-width: 300px;
  max-height: auto;
  border: 0;
  margin-bottom: 20px;
}

.like {
  float: right;
}


*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #212529;
}

*::-webkit-scrollbar-thumb {
  background-color: #1f94f3;
  border-radius: 10px;
  border: 3px none #ffffff;
}